*{
    margin: 0;
    padding: 0;
}

.home{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue{
    background-color: blue;
}

.home>div{
    width: 176px;
    height: 176px;
    background-color: white;
    transform: rotate(45deg);
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

.home>div>div{
    width: 88px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgb(216, 209, 209);
    border: 1px solid black;
}

.yellow{
    background-color: yellow;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.game-container{
    width: 50vw;
    height: 620px;
    max-width: 850px;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0px auto; */
    gap: 0px;
}

.token-container{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-light{
    background-color: rgb(24, 107, 232);
}

.yellow-light{
    background-color: rgba(205, 205, 66, 0.773);
}

.red-light{
    background-color: brown;
}

.green-light{
    background-color: chartreuse;
}

.vertical-grid{
    width: 120px;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
}

.play-box{
    width: 40px;
    height: 41.69px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-grid{
    width: 250px;
    height: 120px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.horizontal-grid .play-box{
    width: 41.69px;
    height: 40px;
}

.winner-box{
    width: 120px;
    height: 120px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.board-token{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 2px 2px 8px rgb(216, 209, 209);
}

.yellow-winner{
    width: 117px;
    height: 34px;
    display: flex;
    background-color: yellow;
}

.red-winner{
    width: 117px;
    height: 34px;
    display: flex;
    background-color: red;
}

.blue-winner{
    width: 35px;
    height: 49px;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.green-winner{
    width: 34px;
    height: 49px;
    display: flex;
    flex-direction: column;
    background-color: green;
}

.msg{
    width: 47px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(60deg, blue, yellow, red, green);
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rot-90{
    transform: rotate(90deg);
}

.rot-270{
    transform: rotate(270deg);
}


.main-box{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.game-control{
    width: 50vw;
    height: 90vh;
    /* background-color: antiquewhite; */
    display: flex;
    flex-wrap: wrap;
}

form{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    width: 100px;
    height: 40px;
    background-color: blue;
    border-radius: 10px;
    color: white;
    border: none;
    margin-top: 20px;
}

.player{
    width: 22vw;
    height: 29vh;
    border: 2px solid black;
    border-radius: 10px;
    /* background-color: aliceblue; */
    background: linear-gradient(90deg, blue, purple);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.dice{
    width: 48.2vw;
    height: 33vh;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    border: 1px solid black;
}

.hidden{
    visibility: hidden;
}

.name-player{
    font-size: 18px;
    /* background-color: aliceblue; */
    color: white;
    padding: 2px;
    border-radius: 4px;
}

.roll{
    width: 108px;
    height: 108px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    transition: transform 1s ease;
    animation-duration: 0.2s;
    animation-iteration-count: 12;
    animation-timing-function: linear;
}

.dot{
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 4, 75);
}

.circle{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
}

@keyframes rotate {
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    50%{
        transform: rotateX(270deg) rotateY(45deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.badge{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    background: linear-gradient(90deg, white, pink, purple);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

td, th{
    width: 100px;
}

@media(max-width:650px){
    .main-box{
        flex-direction: column;
        min-height: 100vh;
    }

    .game-container{
        width: 365px;
        height: 350px;
        justify-content: center;
        margin: 0px auto;
    }

    .game-control{
        width: 365px;
        height: 50vh;
        justify-content: center;
        margin: 10px auto;
    }

    .home{
        width: 140px;
        height: 140px;
    }

    .vertical-grid{
        width: 68px;
        height: 136px;
    }

    .home>div{
        width: 99px;
        height: 99px;
    }
    .home>div>div{
        width: 49px;
        height: 49px;
    }

    .token-container{
        width: 35px;
        height: 35px;
    }

    .round{
        width: 22px;
        height: 22px;
    }

    .play-box{
        width: 22.67px;
        height: 23.5px;
        border: 0.5px solid black;
    }

    .horizontal-grid{
        width: 140px;
        height: 68px;
    }

    .horizontal-grid .play-box{
        width: 23.5px;
        height: 22.67px;
    }

    .winner-box{
        width: 68px;
        height: 68px;
        overflow: hidden;
        border: 0.5px solid black;
    }

    .yellow-winner{
        width: 66.3px;
        height: 19.27px;
    }

    .red-winner{
        width: 66.3px;
        height: 19.27px;
    }

    .blue-winner{
        width: 19.7px;
        height: 27.6px;
    }

    .green-winner{
        width: 19.7px;
        height: 27.6px;
    }

    .msg{
        width: 26.63px;
        height: 27.76px;
        font-size: 8px;
    }

    .board-token{
        width: 20px;
        height: 20px;
        border: 0.5px solid black;
    }

    .player{
        width: 165px;
        height: 100px;
        border: 2px solid black;
        margin: 2px;
    }

    .profile{
        width: 50px;
        height: 50px;
    }

    .name-player{
        font-size: 10px;
    }

    p{
        font-size: 10px;
    }

    .dice{
        width: 350px;
        height: 150px;
        margin: 8px;
        margin: 0px auto;
    }

    .roll{
        width: 54px;
        height: 54px;
    }

    .dot{
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(11, 4, 75);
    }

    .circle{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;
    }

    .badge{
        width: 40px;
        height: 20px;
        font-size: 10px;
    }

    h1{
        font-size: 18px;
    }
}

@media(min-width:651px) and (max-width:1240px){
    .main-box{
        flex-direction: column;
        min-height: 100vh;
    }

    .game-container{
        width: 620px;
        height: 620px;
        justify-content: center;
        margin: 0px auto;
    }

    .game-control{
        width: 620px;
        min-height: 50vh;
        justify-content: center;
        margin: 10px auto;
    }

    .home{
        width: 248px;
        height: 248px;
    }

    .vertical-grid{
        width: 120.45px;
        height: 244px;
    }

    .home>div{
        width: 175px;
        height: 175px;
    }

    .home>div>div{
        width: 86.8px;
        height: 86.8px;
    }

    .token-container{
        width: 62px;
        height: 62px;
    }

    .round{
        width: 39px;
        height: 39px;
    }

    .play-box{
        width: 40px;
        height: 41.6px;
        border: 1px solid black;
    }

    .horizontal-grid{
        width: 248px;
        height: 120.45px;
    }

    .horizontal-grid .play-box{
        width: 41.3px;
        height: 40.15px;
    }

    .winner-box{
        width: 120.45px;
        height: 120.45px;
        overflow: hidden;
        border: 0.5px solid black;
    }

    .yellow-winner{
        width: 117.43px;
        height: 34.13px;
    }

    .red-winner{
        width: 117.43px;
        height: 34.13px;
    }

    .blue-winner{
        width: 34.89px;
        height: 48.88px;
    }

    .green-winner{
        width: 34.89px;
        height: 48.88px;   
    }

    .msg{
        width: 47.17px;
        height: 49.17px;
        font-size: 12px;
    }

    .board-token{
        width: 38px;
        height: 38px;
        border: 0.5px solid black;
    }

    .player{
        width: 300px;
        height: 120px;
        border: 2px solid black;
        margin: 2px;
    }

    .profile{
        width: 50px;
        height: 50px;
    }

    .name-player{
        font-size: 14px;
    }

    p{
        font-size: 14px;
    }

    .dice{
        width: 500px;
        height: 150px;
        margin: 8px;
    }

    .roll{
        width: 54px;
        height: 54px;
    }

    .dot{
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(11, 4, 75);
    }

    .circle{
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white;
    }

    .badge{
        width: 40px;
        height: 20px;
        font-size: 10px;
    }

    h1{
        font-size: 18px;
    }
}
